{% extends "recipes/base.html" %}

{% block content %}
    <div class="container">
        <h1 class="ms-5 mt-2">Onze espresso recepten</h1>
        <div class="row m-5">
            {% for coffee in coffees %}
                <h2 class="bg-dark text-light">{{ coffee.brand }}: {{ coffee.description }}</h2>
                <table class="table">
                    <thead>
                        <th scope="col">Basket</th>
                        <th scope="col">Gram</th>
                        <th scope="col"><span class="material-icons">coffee</span></th>
                        <th scope="col">Maalgraad</th>
                        <th scope="col">Doorlooptijd</th>
                        <th scope="col">Favoriet recept</th>
                    </thead>
                    <tbody>
                        {% for recipe in recipes %}
                            {% if recipe.coffee == coffee %}
                                <tr>
                                    <td>{{ recipe.basket }}</td>
                                    <td>{{ recipe.grams_in }}</td>
                                    <td>{{ recipe.grams_out }}</td>
                                    <td>{{ recipe.grind_size }}</td>
                                    <td>{{ recipe.extraction_time }}</td>
                                    <td><input type="checkbox" id="scales" name="scales"
                                        {% if recipe.favorite == True %} checked {% endif %}disabled></td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <p>No recipes available...</p>
                        {% endfor %}
                    </tbody>
                    
                </table>
                
            {% endfor %}
        </div>
       
    </div>
{% endblock %}